name: Terraform Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [dev, test, prod]  # Kjører jobben for hvert miljø

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set Terraform workspace
        run: |
          cd terraform
          terraform workspace select ${{ matrix.environment }} || terraform workspace new ${{ matrix.environment }}

      - name: Terraform Init
        run: |
          cd terraform
          terraform init \
            -backend-config="resource_group_name=rg-terraform-backend-${{ matrix.environment }}" \
            -backend-config="storage_account_name=timdemoft2025h25liamx25" \
            -backend-config="container_name=tfstateliamx25" \
            -backend-config="key=storage/${{ matrix.environment }}/terraform.tfstate" \
            -reconfigure

      - name: Terraform Plan
        run: |
          cd terraform
          terraform plan -var="environment=${{ matrix.environment }}"

      - name: Terraform Apply
        run: |
          cd terraform
          terraform apply -auto-approve -var="environment=${{ matrix.environment }}"
